body {
    background-color: rgb(10, 6, 1);
    color:rgba(230, 219, 219, 0.762);
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    font-size: 40px;
    background-color: rgb(227, 97, 16); 
    color: rgb(228, 216, 216); 
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}
